@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  /**  height: 1000px;*/
}
a{
    text-decoration: none;

}
p{
     font-weight: 300px;
    color: #111;
}
.banner{
   position: relative;
   width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/bg.jpeg');
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    color: #ffff;
    font-size: 5em;   
}
.banner .content p{
    font-size: 1.3rem;
    color: #fff;
}
.btn{
font-size: 1em;
color: #ffff;
background:#ff0157;
display: inline-block;
padding: 10px 30px;
margin: 20px;
border-radius: 10px;
text-transform: uppercase;
transition: 0.5s;
}
.btn:hover{
    letter-spacing: 5px;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}
header.sticky{
    background:#fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo{
    color: #111;
}
header .logo
{
    color: #ffff;
    font-weight: 700;
    font-size: 3em;
}

header span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
    list-style-type: none;
}
header .navigation li{
    margin-left: 30px;
    
}
header .navigation li a{
    color: #fff;
    font-weight: 300;

}
header.sticky .navigation li a {
    color:#111;
}
header .navigation li a:hover{
    color: #ff0157;
}
/* About Us **/

section{
    padding: 100px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 45%;
}
.title-text{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.title-text span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .img-Box{
    position: relative;
    width: 100%;
    min-height: 300px;
}
.row .col50 .img-Box img{
    position: absolute;
    top: 75px;
    left: 0;
    width: 112%;
    height: 137%;
    object-fit: cover;
}